<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/articles.css}" />
<title>Feedit - Dodaj članak</title>
</head>
<body>
	
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<div th:if="${param.success}">
			<div class="alert alert-info">Uspješno ste dodali članak</div>
		</div>
		<div class="article-container text-center">
			<h1 class="mb-4 text-center">Dodaj novi članak</h1>
			<form th:action="@{/articles/add}" th:object="${article}"
				method="post">

				<div class="form-group row align-items-center justify-content-end"
					th:classappend="${#fields.hasErrors('votes')}? 'has-error':''">
					<label for="votes" class="col-sm-3 control-label">Glasovi #:</label>
					<span class="col-sm-1"></span> 
					<input type="text" id="votes" class="col-sm-8 form-control" th:field="*{votes}" readonly />
				</div>
				<div class="form-group row align-items-center justify-content-end"
					th:classappend="${#fields.hasErrors('user')}? 'has-error':''">
					<label for="user" class="col-sm-3 control-label">Korisnik:</label>
					<span class="col-sm-1"></span>  
					<input
						type="text" id="user" class="col-sm-8 form-control" th:field="*{user}" readonly />
				</div>
				<div class="form-group row align-items-center justify-content-end">
					<label for="headline" class="col-sm-3 control-label">Naslov:</label>
					<span class="col-sm-1"></span> 
					<input
						type="text" id="headline" class="col-sm-8 form-control" th:field="*{headline}"
						th:classappend="${#fields.hasErrors('headline')}? 'is-invalid':''" />
					<p class="col-sm-8 error-message text-center"
						th:each="error : ${#fields.errors('headline')}" th:text="${error}">Validation
						error</p>
				</div>
				<div class="form-group row align-items-center justify-content-end">
					<label for="link" class="col-sm-3 control-label">Link:</label>
					<span class="col-sm-1"></span>  
					<input
						id="link" class="col-sm-8 form-control" th:field="*{link}"
						type="text" th:classappend="${#fields.hasErrors('link')}? 'is-invalid':''" />
					<p class="col-sm-8 error-message text-center"
						th:each="error : ${#fields.errors('link')}" th:text="${error}">Validation
						error</p>
				</div>
				<div class="form-group row align-items-center justify-content-end">
					<label for="author" class="col-sm-3 control-label">Autor:</label>
					<span class="col-sm-1"></span> 
					<input
						id="author" class="col-sm-8 form-control" th:field="*{author}"
						type="text" th:classappend="${#fields.hasErrors('headline')}? 'is-invalid':''" />
					<p class="col-sm-8 error-message text-center"
						th:each="error : ${#fields.errors('author')}" th:text="${error}">Validation
						error</p>
				</div>
				<div class="form-group row">
					<div class="col" style="text-align: right">
						<button type="submit" class="btn btn-success">Objavi</button>
					</div>
					<div></div>
					<div class="col" style="text-align: left">
						<a class="btn btn-danger" th:href="@{/}">Otkaži</a>
					</div>	
				</div>

			</form>
		</div>
	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>
</html>