<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Feedit - Prijava</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<link th:href="@{/css/login.css}" rel="stylesheet" />
</head>

<body class="text-center">
	<form class="form-signin" th:action="@{/}" onsubmit="return validate()" method="post">
		<h1 class="mb-3 font-weight-normal">Feedit</h1>
		
		<div hidden="true" id="message">
		</div>

		<label for="username" class="sr-only">Korisničko ime</label>
		<input type="text" name="username" id="username" class="form-control"
			placeholder="Korisničko ime" autofocus /> 
		
		<label for="password" class="sr-only">Lozinka</label>
		<input type="password"
			id="password" name="password" class="form-control"
			placeholder="Lozinka" />

		<button class="btn btn-lg btn-primary btn-block" type="submit">Prijavi
			se</button>
	</form>
	
	<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/login.js}"></script>

</body>
</html>